.container {
	display: flex;
	flex-direction: row;
}

.movie-info {
	width: 50%;
	margin-left: 30px;
}

.card-footer-title {
	display: flex;
	justify-content: center;
	text-align: center;
}

.root {
	width: 265px;
}

.genre-chip {
	margin: 2px;
}

.movie-trailer {
	margin-top: 25px;
}

.media {
	height: 370px;
}